{{#partial "content"}}

    <h1> List of heroes</h1>

    {{#if heroes}}
        {{#each hero }}
            <p><a href="/squads/{{squadId}}/heroes/{{id}}">{{description}}</a></p>
        {{/each}}
    {{else}}
        <p>No heroes!</p>

    {{/if}}
{{/partial}}

{{> layout.hbs}}